<div class="banner">
  <div class="container">
    <h1>Calderon Drinks</h1>
    <%= link_to 'Add a new cocktail', new_cocktail_path, class: "btn btn-warning" %>
  </div>
</div>
<div class="container">
  <h2 class="text-center mt-2">Most popular cocktails</h2>
  <%= render 'shared/card' %>
</div>