<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="row">
      <div class="card-cocktail col-4" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80);">
        <%# <img src="https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80" alt="cocktail"> %>
        <p class="card-cocktail-name"><%= cocktail.name %></p>
      </div>
    </div>
  <% end %>
</div>